/* TABLE OF CONTENTS

    Base styles
    Launch
    Onboarding
    Home
    About
    Navigation
    Loading
    Select place
    Results
    Individual artefacts

*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'mr-eaves-xl-modern', sans-serif;
    font-weight: 300; /* book: 300, regular: 400, bold: 700 */
}

* {
    box-sizing: border-box;
}

/* to extend all to the height and width of the screen */
section {
    height: 100%;
    width: 100%;
}

/* quick way of hiding everything */
.hide {
    display: none;
}

/* quick way of centering divs holding content to be centered */
.center {
    text-align: center;
}

/* quick way to give an element a full height */
.full-height {
    height: 100%;
}

/* to style all the buttons the same */
button,
.button {
    cursor: pointer;
    text-transform: uppercase;
    color: #619741;
    background-color: #fff;
    border: #619741 2px solid;
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 80%;
    height: 7rem;
}


/* Launch
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#intro {
    background-color: rgba(97,151,65,1);
    color: #fff;
}

#intro-row {
    position: relative;
}

#intro-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#intro-centre:after {
    content: url(../images/Handdrawn/Launch-explosion-white.svg);
    position: absolute;
    opacity: 0.15;
    width: 90%;
    max-width: 390px;
    min-width: 280px;
    top: 30%;
    left: 46%;
    transform: translate(-50%,-50%);
}

#logo img {
    width: 50%;
    min-width: 200px;
    max-width: 300px;
}

#powered {
    width: 10%;
    min-width: 80px;
    max-width: 150px;
}


/* Onboarding
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#onboard {
    position: relative;
}

#onboard-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#onboard-row img {
    width: 70%;
    max-width: 300px;
}

#onboard-row p {
    text-align: left;
    width: 85%;
}

    #onboard-row p:first-of-type {
        margin: 4rem auto 2rem;
    }

    #onboard-row p:last-of-type {
        margin: 0 auto 4rem;
    }

#got-it:after {
    content: url(../images/handdrawn/curved-arrow-up.svg);
    position: absolute;
    width: 5rem;
    top: 88%;
    left: 75%;
}

@media screen and (min-width: 550px) {
    #got-it:after {
        top: 90%;
        left: 63%;
    }
}

#disclaimer {
	display: none;
    background-color: rgba(97,151,65,1);
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
}


/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#about-link {
    cursor: pointer;
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#about {
    background-color: rgba(97,151,65,1);
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
}


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#loading,
#discovering {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    text-align: center;
}
    #compass {
        width: 50%;
    }
        #compassNeedle {
            animation: compassSpin 5s linear infinite;
            transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
        }
    #discoveringGuy {
            width: 50%;
        }

/*To be replaced with new loading animations*/
#loader {
    position: relative;
    margin: 20% auto 0;
    width: 15vh;
    height: 15vh;
}

#loader1 {
    position: absolute;
    border: 5px solid rgba(97,151,65,1);
    border-top: 5px solid #fff;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    animation: spin 1s linear infinite;
}

#loader2 {
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
    border: 5px solid rgba(97,151,65,1);
    border-top: 5px solid #fff;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    animation: spinBack 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes compassSpin {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-60deg); }
    40% { transform: rotate(20deg); }
    60% { transform: rotate(-40deg); }
    80% { transform: rotate(40deg); }
    100% { transform: rotate(0deg); }
}

<g transform = "translate(100, 100) rotate(45 60 60)">


@keyframes spinBack {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}


/* Select Place
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.place {
    cursor: pointer;
}

    .place:hover {
        background-color: lightgray;
    }


/*  Results
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.results {
    cursor: pointer;
}

    .results:hover {
        background-color: lightgray;
    }

h2 {
    text-align: center;
    color: #b3b4b4;
    font-size: 3em;
    margin: 1em;
}

.troveImg {
    display: inline-block;
    max-width: 50%;
}

.newsArticle {
    display: inline-block;
    width: 30%;
    margin-left: 1%;
    margin-bottom: 1rem;
    background-color: #cfcfcf;
    padding: 2rem;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: justify;
}

.newsArticleHead {
    margin-top: 0;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
}

        .newsArticle p:first-of-type {
            text-align: center;
            font-size: 1.2em;
            font-style: italic;
        }


/*  Individual Artifacts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
