/* TABLE OF CONTENTS

    Base styles
    Launch
    Onboarding
    Home
    About
    Navigation
    Loading
    Select place
    Results
    Individual artefacts

*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    box-sizing: border-box; }

html, body {
    height: 100%; }

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #303030;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300; /* light: 300, regular: 400 */ }

/* to extend all to the height and width of the screen */
section {
    height: 100%;
    width: 100%; }

h2 {
    text-align: center;
    color: #303030;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin-bottom: 1.5em; }

h3 {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.02em; }

.hide {
    display: none;}
    
.show {
    display: block; }

/* quick way of centering divs holding content to be centered */
.center {
    text-align: center; }

/* quick way to give an element a full height */
.full-height {
    height: 100%; }

button,
.button {
    cursor: pointer;
    text-transform: uppercase;
    color: #619741;
    background-color: #fff;
    border: #619741 2.5px solid;
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 80%;
    height: 7rem;
    margin: 0 auto;
    display: block;
    font-weight: 400;
    transition: all .3s ease; }
    	    	    
.bold {
	font-weight: 400; }
	
a {
	color: rgba(97,151,65,1); }


/* Launch
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#intro {
    background-color: rgba(97,151,65,1);
    color: #fff; }

	#intro-row {
	    position: relative; }
	
	#intro-centre {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%); }
	
		#intro-centre:after {
		    content: url(../images/Handdrawn/Launch-explosion-white.svg);
		    position: absolute;
		    opacity: 0.15;
		    width: 90%;
		    max-width: 390px;
		    min-width: 280px;
		    top: 30%;
		    left: 46%;
		    transform: translate(-50%,-50%); }

#logo img {
    width: 50%;
    min-width: 200px;
    max-width: 300px; }

#powered {
    width: 10%;
    min-width: 80px;
    max-width: 150px; }


/* Onboarding
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#onboard {
    position: relative; }

	#onboard-container {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%); }
	
	#onboard-row img {
	    width: 70%;
	    max-width: 300px; }
	
	#onboard-row p {
	    text-align: left;
	    width: 85%; }
	
	    #onboard-row p:first-of-type {
	        margin: 4rem auto 2rem; }
	
	    #onboard-row p:last-of-type {
	        margin: 0 auto 4rem; }

#got-it:after {
    content: url(../images/handdrawn/curved-arrow-up.svg);
    position: absolute;
    width: 5rem;
    top: 88%;
    left: 75%; }

@media screen and (min-width: 550px) {
    #got-it:after {
        top: 90%;
        left: 63%; }
}

#disclaimer {
	display: none;
    background-color: rgba(97,151,65,1);
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll; }


/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icons-div {
	margin-bottom: 2rem; }
	
	.icons {
		display: inline-block;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
		width: 70%;
		vertical-align: bottom; }

	/* positioning needs to be fixed - not sure how to center it correctly */
	#location-icon {
	    width: 7rem; 
		transform: translateX(-150%); }

#pointing-img {
    width: 55%;
    max-height: 11rem;
    position: absolute;
    bottom: -10px;
    right: 0; }


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#about {
    background: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
    z-index: 10; }
    
    #about .afternav  {
        width: 90%;
	    margin: 8rem 5%; }
    
    #about .afternav p {
	    margin-bottom: 3rem; }


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav {
    position: fixed;
    width: 100%;
    background: #fff;
    height: 5.5rem;
    top: 0; }
    
    .back-link {
        position: absolute;
        display: inline-block;
        left: 2rem;
        font-size: 2em;
        color: #303030;
        cursor: pointer;
        font-weight: 400; }
    
    .logo {
        height: 3rem;
        margin: 0 auto;
        cursor: pointer;
        top: 2.5rem;
        left: 2.5rem; }
        
    .logo-small {
        background: url(../images/UD-logo-black.svg) no-repeat center center;
        background-size: 95%;
        text-indent: -9999px;
		font-size: 0;
		width: 50px;
        height: 100%;
        margin: 0 auto;
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
		
    .about-link {
        position: absolute;
        display: inline;
        right: 2.5rem;
        top: 2.5rem;
        font-size: .95em;
        cursor: pointer;
        font-weight: 400;
        color: #303030;
        letter-spacing: 0.06em;
        text-transform: uppercase; }

.afternav {
    margin-top: 8rem; }

.main-row {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%; }


/* Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#loading,
#discovering {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    text-align: center; }
    
#compass {
    display: inline; }
   
    #compassBase {
        position: absolute;
        height: 10rem;
        width: 10rem; }
        
    #compassNeedle {
        height: 10rem;
        width: 10rem;
        -webkit-animation: compassSpin 5s linear infinite;
        -moz-animation: compassSpin 5s linear infinite;
        animation: compassSpin 5s linear infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        transform-origin: 50% 50%; }

        @-webkit-keyframes compassSpin {
            0%   { -webkit-transform: rotate(0deg); }
            20%  { -webkit-transform: rotate(-60deg); }
            40%  { -webkit-transform: rotate(20deg); }
            60%  { -webkit-transform: rotate(-40deg); }
            80%  { -webkit-transform: rotate(40deg); }
            100% { -webkit-transform: rotate(0deg); }
        }
        @-moz-keyframes compassSpin {
            0%   { -moz-transform: rotate(0deg); }
            20%  { -moz-transform: rotate(-60deg); }
            40%  { -moz-transform: rotate(20deg); }
            60%  { -moz-transform: rotate(-40deg); }
            80%  { -moz-transform: rotate(40deg); }
            100% { -moz-transform: rotate(0deg); }
        }
        @keyframes compassSpin {
            0%   { transform: rotate(0deg); }
            20%  { transform: rotate(-60deg); }
            40%  { transform: rotate(20deg); }
            60%  { transform: rotate(-40deg); }
            80%  { transform: rotate(40deg); }
            100% { transform: rotate(0deg); }
        }
        
#find-places-load {
    margin-top: 2rem;
    font-weight: 500; }
        
#discoveringGuy {
    height: 10rem;
    width: 100%;
    -webkit-animation: discoverSway 5s linear infinite;
    -moz-animation: discoverSway 5s linear infinite;
    animation: discoverSway 5s linear infinite;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
    
    @-webkit-keyframes discoverSway {
        0%   { -webkit-transform: rotate(0deg); }
        25%  { -webkit-transform: rotate(-25deg); }
        50%  { -webkit-transform: rotate(0deg); }
        75%  { -webkit-transform: rotate(25deg); }
        100% { -webkit-transform: rotate(0deg); }
		}
		
    @-moz-keyframes discoverSway {
        0%   { -moz-transform: rotate(0deg); }
        25%  { -moz-transform: rotate(-25deg); }
        50%  { -moz-transform: rotate(0deg); }
        75%  { -moz-transform: rotate(25deg); }
        100% { -moz-transform: rotate(0deg); }
    }
    
    @keyframes discoverSway {
        0%   { transform: rotate(0deg); }
        25%  { transform: rotate(-25deg); }
        50%  { transform: rotate(0deg); }
        75%  { transform: rotate(25deg); }
        100% { transform: rotate(0deg); }
    }
        
#load-artefacts {
    margin-top: 2rem;
    font-weight: 400; }
    
#loading-place {
    font-weight: 600; }



/* Select Place
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.place {
    cursor: pointer;
    margin-bottom: 1rem; }
    
    .place:hover {
	    color: #fff;
	    background-color: rgba(97,151,65,1); }


/*  Results
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.result {
    cursor: pointer;
    position: relative;
    margin: 0;
	padding: 0;  }
    
	.result-img {
	    background-size: cover;
	    width: 100%;
	    height: 200px;
	    overflow: hidden;
	    margin: 0;
	    padding: 0; }
	    
    .result-title {
	    text-transform: uppercase;
	    text-align: left;
	    font-size: .9em;
	    color: #fff;
	    letter-spacing: 0.03em;
	    width: 100%;
	    background-color: rgba(48,48,48,0.85);
	    padding: 10px 20px;
	    position: absolute;
	    bottom: -15px;
	    font-weight: 500; }
    
    #place-name {
	    display: inline-block; }
	    
	.marker {
		width: 18px;
		padding-right: 5px;
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 1.85em; }

.newsArticle {
    display: inline-block;
    width: 30%;
    margin-left: 1%;
    margin-bottom: 1rem;
    background-color: #cfcfcf;
    padding: 2rem;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: justify; }

	.newsArticleHead {
	    margin-top: 0;
	    font-weight: 700;
	    text-align: center;
	    font-size: 1.5em; }
	
    .newsArticle p:first-of-type {
        text-align: center;
        font-size: 1.2em;
        font-style: italic; }


/*  Individual Artifacts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
