/* TABLE OF CONTENTS

    Base styles
    Launch
    About
    Navigation
    Loading
    Select place
    Results
    Individual artifacts

*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'mr-eaves-xl-modern', sans-serif;
    font-weight: 300; /* book: 300, regular: 400, bold: 700 */
}

* {
    box-sizing: border-box;
}


/* Launch
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#intro {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(97,151,65,1);
    color: #fff;
}

#intro-container,
#intro-row {
    height: 100%;
}

#intro-row {
    position: relative;
}

#intro-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#intro-centre:after {
    content: url(../images/Handdrawn/Launch-explosion-white.svg);
    position: absolute;
    opacity: 0.15;
    width: 90%;
    max-width: 390px;
    min-width: 280px;
    top: 30%;
    left: 46%;
    transform: translate(-50%,-50%);
}

#logo img {
    width: 50%;
    min-width: 200px;
    max-width: 300px;
}

#powered {
    width: 10%;
    min-width: 80px;
    max-width: 150px;
}

/* Onboarding
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#onboard {
    height: 100vh;
    width: 100%;
    display: none;
}
    #disclaimerButton {
        cursor: pointer;
    }
    #gotIt {
        cursor: pointer;
    }
#home {
	display: none;
}
#disclaimer {
	display: none;
    background-color: rgba(97,151,65,1);
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#about {
	display: none;
    background-color: rgba(97,151,65,1);
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#locError {
	display: none;
}


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#nav {
	display: none;
}


/* Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#loading,
#discovering {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    margin-left: -20px;
    background-color: rgba(97,151,65,1);
    color: #fff;
    text-align: center;
    display: none;
}
    /*To be replaced with new loading animations*/
    #loader {
        position: relative;
        margin: 20% auto 0;
        width: 15vh;
        height: 15vh;
    }
        #loader1 {
            position: absolute;
            border: 5px solid rgba(97,151,65,1);
            border-top: 5px solid #fff;
            border-radius: 50%;
            width: 15vh;
            height: 15vh;
            animation: spin 1s linear infinite;
        }
        #loader2 {
            position: absolute;
            top: 2.5vh;
            left: 2.5vh;
            border: 5px solid rgba(97,151,65,1);
            border-top: 5px solid #fff;
            border-radius: 50%;
            width: 10vh;
            height: 10vh;
            animation: spinBack 1s linear infinite;
        }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    @keyframes spinBack {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(-360deg); }
    }

/* Select Place
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#select {
	display: none;
}
.place {
    cursor: pointer;
}
    .place:hover {
        background-color: lightgray;
    }


/*  Results
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#results {
    display: none;
}
    .results {
        cursor: pointer;
    }
        .results:hover {
            background-color: lightgray;
        }




    h2 {
        text-align: center;
        color: #b3b4b4;
        font-size: 3em;
        margin: 1em;
    }
        .troveImg {
            display: inline-block;
            max-width: 50%;
        }
    .newsArticle {
        display: inline-block;
        width: 30%;
        margin-left: 1%;
        margin-bottom: 1rem;
        background-color: #cfcfcf;
        padding: 2rem;
        font-family: 'Merriweather', serif;
        font-weight: 400;
        text-align: justify;
    }
        .newsArticleHead {
            margin-top: 0;
            font-weight: 700;
            text-align: center;
            font-size: 1.5em;
        }
        .newsArticle p:first-of-type {
            text-align: center;
            font-size: 1.2em;
            font-style: italic;
        }

/*  Individual Artifacts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#flickr {
    display: none;
}
#newspaper {
    display: none;
}


/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

